body {
  margin: 0;
  padding: 0;
  background-color: rgb(80, 80, 80);
}

input:focus {
  outline: none;
}

#sketch {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -999;
}

.group {
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

input, select, button {
  width: 80px;
  margin: 2px 4px;
}
